<main class="flex justify-center dark:bg-gray-900 dark:text-white pt-18 px-8">
  <div class="flex flex-col gap-2 w-[700px]">
    <div class="flex flex-row justify-between">
      <p class="text-lg italic">Pomodoro!</p>
    </div>
    <hr />
    <app-timer />
    @for (task of tasks(); track $index) {
    <app-task [task]="task" [index]="$index" />
    }
    <app-create-task />
  </div>
</main>
<footer>
  <a href="https://www.flaticon.com/free-icons/timer" title="timer icons"
    >Timer icons created by Freepik - Flaticon</a
  >
</footer>
