<main class="flex justify-center dark:bg-gray-900 dark:text-white pt-18 px-8">
  <div class="flex flex-col gap-2 w-[700px]">
    <div class="flex flex-row justify-between">
      <p class="text-lg italic">Pomodoro!</p>
    </div>
    <hr />
    <app-timer />
    @for (task of tasks(); track $index) {
    <app-task [task]="task" [index]="$index" />
    }
    <app-create-task />
  </div>
</main>
<footer
  class="flex flex-col justify-center items-center gap-6 bg-gray-950 pt-2"
>
  <a href="https://github.com/ViniciusBessa/angular_pomodoro" target="_blank">
    <img
      class="cursor-pointer hover:opacity-80"
      width="80"
      height="auto"
      src="github-mark-white.svg"
      alt="GitHub Logo"
    />
  </a>
  <a
    class="text-center text-white"
    href="https://www.flaticon.com/free-icons/timer"
    title="timer icons"
    target="_blank"
    >Timer icons created by Freepik - Flaticon</a
  >
</footer>
